@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-background-2: #f1f1f1;
  --color-title: #158a67;
  --color-wire: #131e29;
  --color-label: #496dd8;
  --color-vcc: #e11d48;
  --color-gnd: #43aa8b;
  --color-clk: #8c4bdb;
  --color-fill: #dde6ed;
}

html,
body {
  margin: 0;
  padding: 0;
}

.editor {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

/* Left sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;
  background-color: var(--color-background);
  color: var(--color-wire);
  border-right: solid var(--color-background-2);
  padding: 5pt;
}

.sidebar .sidebar-title {
  @apply text-lg font-semibold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-title);
}

.sidebar .sidebar-selector {
  @apply text-xs font-mono;
  flex: 1;
  min-height: 0;
  margin: 5pt 0pt;
  padding: 0pt;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: solid var(--color-background-2);
}

.sidebar .sidebar-item {
  overflow: auto;
  width: 100%;
  padding: 5pt 10pt;
  margin: 0pt;
  border-radius: 10px;
}

.sidebar .selected {
  background-color: var(--color-fill);
}

.sidebar-item:hover {
  background-color: var(--color-background-2);
}

.main-pane {
  @apply font-mono;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-pane {
  @apply text-xs font-mono;
  height: 200px;
  border-top: 1px solid var(--color-background-2);
  padding: 5pt;
}

.message-pane table {
  width: 100%;
}

.message-pane table td:first-child,
.message-pane table th:first-child {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circuit-component-body {
  @apply text-base font-sans text-center;
  stroke: var(--color-wire);
  stroke-width: 2px;
  fill: var(--color-fill);
}

.circuit-component-label {
  @apply text-sm font-sans text-center;
}

.circuit-component .pin-label {
  @apply text-xs font-sans text-center;
  fill: var(--color-gray-600);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.circuit-component:hover .pin-label {
  opacity: 1;
}

.circuit-wire path {
  stroke: var(--color-wire);
  stroke-width: 2;
  fill: none;
}

.circuit-wire-gnd path {
  stroke: var(--color-gnd);
}

.circuit-wire-vcc path {
  stroke: var(--color-vcc);
}

.circuit-wire-clk path {
  stroke: var(--color-clk);
}

/* Hide the label group by default */
.circuit-wire .label {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show the label when hovering over any part of the wire */
.circuit-wire:hover .label {
  visibility: visible;
  opacity: 1;
}
